<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NBA 2019 Report</title>
        <style type="text/css">
            body {
                font: 16px Roboto, Arial, Helvetica, Sans-serif;
            }
            td,
            th {
                padding: 4px 8px;
            }
            th {
                background: #eee;
                font-weight: 500;
            }
            tr:nth-child(odd) {
                background: #f4f4f4;
            }
        </style>
    </head>
    <body>
        {{ BODY }}
    </body>
</html>
